---
import RecipeCard from './RecipeCard.astro';
import type { Recipe } from '../lib/recipe';

interface Props {
  recipes: Recipe[];
}
const { recipes } = Astro.props;
---

<div data-recipe-grid class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 sm:gap-6">
  {recipes.map((recipe, i) => <RecipeCard recipe={recipe} index={i} />)}
</div>
